@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maple Leafs Toronto</h1>
    <br/>
    <p class="lead">The Toronto Maple Leafs (officially the Toronto Maple Leaf Hockey Club and often simply referred to as the Leafs) are a professional ice hockey team based in Toronto. They compete in the National Hockey League (NHL) as a member of the North Division. The club is owned by Maple Leaf Sports & Entertainment, Ltd. and are represented by Chairman Larry Tanenbaum. The Maple Leafs' broadcasting rights are split between BCE Inc. and Rogers Communications.For their first 14 seasons, the club played their home games at the Mutual Street Arena, before moving to Maple Leaf Gardens in 1931. The Maple Leafs moved to their present home, Scotiabank Arena (originally named Air Canada Centre), in February 1999.</p>
    <p><a href="https://www.nhl.com/mapleleafs/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Maple Leafs Acquire Riley Nash From Columbus</h2>
        <p>
            The Toronto Maple Leafs announced today that the hockey club has acquired forward Riley Nash from the Columbus Blue Jackets in exchange for a conditional seventh round selection in the 2022 NHL Draft. The seventh round selection will become a sixth round selection if Nash appears in 25 percent of the Maple Leafs' playoff games in 2021.
        </p>
        <p><a class="btn btn-default" href="https://www.nhl.com/mapleleafs/news/maple-leafs-acquire-riley-nash/c-323461362">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maple Leafs Sign Alex Steeves</h2>
        <p>The Toronto Maple Leafs announced today that the hockey club has signed forward Alex Steeves to a three year entry-level contract for the 2021-22 season.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/mapleleafs/news/leafs-sign-alex-steeves/c-323014304">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Maple Leafs Trim Training Camp Roster</h2>
        <p>The Toronto Maple Leafs announced Monday that the team has trimmed their training camp roster to 26 players. The Leafs' current roster includes a total of 15 forwards, eight defencemen and three goaltenders.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/mapleleafs/news/maple-leafs-training-camp-roster-update/c-320183800">Learn more &raquo;</a></p>
    </div>
</div>